.profile-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  flex: 1 1 200px;
  max-width: 250px;
  text-align: center;
}

.profile-photo img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.profile-text {
  flex: 2 1 400px;
}

.profile-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.profile-table th, .profile-table td {
  border: 1px solid #000000;
  padding: 8px 12px;
  text-align: left;
}
.profile-table th {
  position: sticky;
  top: 59px;
  background-color: rgb(171,171,171);
  color: black;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

.profile-table td {
    background-color: white;
    color: black;
}

ul.profile-list {
  width: 100%;
  background-color: white;
  padding-left: 0;
  margin-top: 20px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  list-style: none;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  border-radius: 10px;
}

ul.profile-list li {
  margin-bottom: 8px;
  color: #555;
  position: relative;
  padding-left: 2em;
  text-indent: 0em;  
}

ul.profile-list li::before {
  content: "✓";
  color: green;
  position: absolute;
  left: 0.6em;
  width: 1em;
  display: inline-block;
  margin-right: 0.8em;
}
