.fade_background{
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(230,230,230);
  opacity: 1;
  animation: fadeInOut_bg 3s forwards;
  z-index: 1;
}
@keyframes fadeInOut_bg{
  0%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.fade_logo_image{
  position: fixed;
  top: 50%; left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  background-image: url('images/dot_init_transparent.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: fadeInOut_logo 3s forwards;
  z-index: 2;
}
@keyframes fadeInOut_logo{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.header{
  background: linear-gradient(to bottom right, #fff, #666);;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 3;
}

.header_home{
  background: linear-gradient(to bottom right, #fff, #666);;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 3;
  opacity: 0;
  animation: fadeInHeader 0.5s ease-in forwards;
  animation-delay: 2s; /* フェード終了後に表示 */
}
@keyframes fadeInHeader {
  to {
    opacity: 1;
  }
}

.logo{
  font-size: 1.5rem;
}

img.header_logo{
  height: 30px;
  vertical-align: middle;
  margin-right: 0.5em;
  filter: drop-shadow(0 0 8px rgba(255, 250, 180, 1))
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 769px) {
  .nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  .nav li{
    padding: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #444;
    display: none;
    flex-direction: column;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
  }

  .nav li {
    text-align: center;
    padding: 0.5rem 0;
  }

  .menu-toggle:checked + .menu-icon + .nav {
    display: flex;
  }
}
